{
  "extends": ["wesbos"],
  "plugins": ["import"],
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/static-property-placement": 0,
    "jsx-a11y/alt-text": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": ["FormInput", "FormSelect"],
        "depth": 3
      }
    ],
    "react/no-danger": 0,
    "react-hooks/exhaustive-deps": 0,
    "no-useless-constructor": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@layout", "./src/components/layout"],
          ["@global", "./src/components/global"],
          ["@templates", "./src/components/templates"],
          ["@organisms", "./src/components/organisms"],
          ["@molecules", "./src/components/molecules"],
          ["@atoms", "./src/components/atoms"],
          ["@context", "./src/context"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  }
}
